n8n/workflow.json
{
  "name": "reMarkable Daily Planner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 6 * * *" }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every day at 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 380]
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "get",
        "entityId": "sensor.weather_forecast_today_condition"
      },
      "id": "ha-condition",
      "name": "HA: Weather Condition",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [220, 380],
      "credentials": {
        "homeAssistantApi": {
          "id": "ha-creds",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "get",
        "entityId": "sensor.weather_forecast_today_high"
      },
      "id": "ha-high",
      "name": "HA: Weather High",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [440, 380],
      "credentials": {
        "homeAssistantApi": {
          "id": "ha-creds",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "get",
        "entityId": "sensor.weather_forecast_today_low"
      },
      "id": "ha-low",
      "name": "HA: Weather Low",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [660, 380],
      "credentials": {
        "homeAssistantApi": {
          "id": "ha-creds",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": { "__rl": true, "mode": "id", "value": "primary" },
        "timeMin": "={{ $now.startOf('day').toISO() }}",
        "timeMax": "={{ $now.endOf('day').toISO() }}",
        "options": { "singleEvents": true, "orderBy": "startTime" }
      },
      "id": "gcal-events",
      "name": "Google Calendar: Today",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [880, 380],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gcal-creds",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const condition = $('HA: Weather Condition').first().json;\nconst high      = $('HA: Weather High').first().json;\nconst low       = $('HA: Weather Low').first().json;\nconst calItems  = $('Google Calendar: Today').all();\n\nconst colors = ['cal-blue', 'cal-green', 'cal-amber'];\nconst events = calItems\n  .filter(item => item.json.start?.dateTime)\n  .map((item, idx) => {\n    const start = new Date(item.json.start.dateTime);\n    const end   = new Date(item.json.end.dateTime);\n    return {\n      title:      item.json.summary || '(No title)',\n      start_hour: start.getHours(),\n      start_min:  start.getMinutes(),\n      end_hour:   end.getHours(),\n      end_min:    end.getMinutes(),\n      color:      colors[idx % colors.length],\n    };\n  })\n  .filter(ev => ev.start_hour >= 7 && ev.start_hour < 20);\n\nreturn [{\n  json: {\n    weather_condition: condition.state || '',\n    weather_high:      Math.round(parseFloat(high.state)) || '',\n    weather_low:       Math.round(parseFloat(low.state))  || '',\n    events,\n    todos: [],\n  }\n}];"
      },
      "id": "build-payload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://pdf-generator.remarkable.svc.cluster.local/generate",
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000,
          "response": { "response": { "responseFormat": "file" } }
        }
      },
      "id": "generate-pdf",
      "name": "Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rmapi-uploader.remarkable.svc.cluster.local/upload",
        "sendBody": true,
        "bodyContentType": "multipart-form-data",
        "parameters": {
          "parameters": [
            {
              "name": "pdf",
              "value": "={{ $binary.data }}",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "filename",
              "value": "=Daily Planner {{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "upload-pdf",
      "name": "Upload to reMarkable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 380]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.status }}", "value2": "ok" }]
        }
      },
      "id": "check-result",
      "name": "Check Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, 380]
    },
    {
      "parameters": {
        "jsCode": "console.log('✅ Planner uploaded:', $json.uploaded_to);\nreturn $input.all();"
      },
      "id": "success",
      "name": "Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 280]
    },
    {
      "parameters": {
        "jsCode": "console.error('❌ Upload failed:', $json.message);\nreturn $input.all();"
      },
      "id": "error",
      "name": "Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 480]
    }
  ],
  "connections": {
    "Every day at 6am":      { "main": [[{ "node": "HA: Weather Condition", "type": "main", "index": 0 }]] },
    "HA: Weather Condition": { "main": [[{ "node": "HA: Weather High",      "type": "main", "index": 0 }]] },
    "HA: Weather High":      { "main": [[{ "node": "HA: Weather Low",       "type": "main", "index": 0 }]] },
    "HA: Weather Low":       { "main": [[{ "node": "Google Calendar: Today","type": "main", "index": 0 }]] },
    "Google Calendar: Today":{ "main": [[{ "node": "Build Payload",         "type": "main", "index": 0 }]] },
    "Build Payload":         { "main": [[{ "node": "Generate PDF",          "type": "main", "index": 0 }]] },
    "Generate PDF":          { "main": [[{ "node": "Upload to reMarkable",  "type": "main", "index": 0 }]] },
    "Upload to reMarkable":  { "main": [[{ "node": "Check Result",          "type": "main", "index": 0 }]] },
    "Check Result": {
      "main": [
        [{ "node": "Success", "type": "main", "index": 0 }],
        [{ "node": "Error",   "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
